@model TModel

@{
    ViewData["Title"] = "Agregar producto";
}

<h1 class="text-center fw-bold mb-5">Añadir producto</h1>
<div class="d-flex justify-content-center">
    <form asp-action="Store" class="row g-3 needs-validation w-50">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Code" class="form-label">Producto:</label>
            <input asp-for="Code" type="text" class="form-control" id="validationCustom01" value="Televisión" required>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Code" class="form-label">Descripción:</label>
            <input asp-for="Code" type="text" class="form-control" id="validationCustom01" value="24 pulgadas..." required>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>